<!DOCTYPE html>
<!--Israel Showell-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company Registration</title>

    <!-- Link to the custom CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
    <center>
        <!-- Registration Form Header -->
        <h1 class="header-text">Register Your Company</h1>
        <div class="form-container">
            <!-- Error Messages -->
            {% for message in form.companyName.errors %}
            <div class="error">{{ message }}</div>
            {% endfor %}
            {% for message in form.companyAddress.errors %}
            <div class="error">{{ message }}</div>
            {% endfor %}
            {% for message in form.employeeNumber.errors %}
            <div class="error">{{ message }}</div>
            {% endfor %}

            <!-- Registration Form -->
            <form action="{{ url_for('companyRegistrationForm') }}" method="POST">
                {{ form.hidden_tag() }}
                <div class="table-section">
                    <table>
                        <tr>
                            <td>{{ form.companyName.label }}</td>
                            <td>{{ form.companyName(size=32) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.companyAddress.label }}</td>
                            <td>{{ form.companyAddress(rows=4, cols=40) }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.employeeNumber.label }}</td>
                            <td class="form-input">{{ form.employeeNumber(size=5) }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>{{ form.Submit(class="submit-button") }}</td>
                        </tr>
                    </table>
                </div>
            </form>

            <!-- Skip Button Form -->
            <form action="{{ url_for('companyRegistrationForm') }}" method="POST">
                <div class="nav-links">
                    <p><input type="text" name="Skip_Button" placeholder="Type anything here and click skip to leave this blank!" class="form-input"/></p>
                    <p><input type="submit" value="Skip" class="submit-button"/></p>
                </div>
            </form>
        </div>
    </center>
</body>

</html>
