<!DOCTYPE html>
<!--Israel Showell-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='custom.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet"/>
</head>
<body>
<center>
   <h1>User Details</h1>
   <section class="dashboard-section">
        <p><strong>Welcome, {{ name }}!!</strong></p>
        {% if company_info %}
            <p><strong>Company Name:</strong> {{ company_info[0] }}</p>
            <p><strong>Company Address:</strong> {{ company_info[1] }}</p>
            <p><strong>Number of Employees:</strong> {{ company_info[2] }}</p>
        {% else %}
            <p>No company information available.</p>
            <a href="{{ url_for('companyRegistrationForm') }}">Want to add your company?</a>
        {% endif %}
       <h4><a href="{{ url_for('Inventory') }}"><strong>Inventory Page</strong></a></h4>
       <h4><a href="{{ url_for('Home') }}"><strong>Logout</strong></a></h4>
    </section>
</center>
</body>
</html>
