<!DOCTYPE html>
<!--Israel Showell-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>

    <!-- Link to the custom CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
    <center>
        <div class="form-container">
            <!-- Error Header -->
            <h1 class="header-text">User Already Exists! Try again with a new username!</h1>

            <!-- Navigation Links -->
            <div class="nav-links">
                <p><a href="{{ url_for('Home') }}" class="button primary"><strong>Home</strong></a></p>
                <p><a href="{{ url_for('userRegistrationForm') }}" class="button primary"><strong>Register</strong></a></p>
                <p><a href="{{ url_for('login') }}" class="button primary"><strong>Login</strong></a></p>
            </div>
        </div>
    </center>
</body>

</html>
