<!DOCTYPE html>
<!--Israel Showell-->
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Management Login Page</title>
    <!-- Link to the custom CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet"/>
</head>

<body>
    <center>
        <section class="form-container">
            <!-- Login Form Header -->
            <h1 class="header-text">Welcome to the Inventory Management Login Page!</h1>

            <!-- Login Form -->
            <form class="login-form" action="{{ url_for('login') }}" method="POST">
                <div class="table-section">
                    <table>
                        <tr>
                            <td class="form-label">Username:</td>
                            <td class="form-input"><input type="text" name="Username" /></td>
                        </tr>
                        <tr>
                            <td class="form-label">Password:</td>
                            <td class="form-input"><input type="password" name="Password" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" name="enter" class="submit-button" /></td>
                        </tr>
                    </table>
                </div>
            </form>

            <!-- Navigation Links -->
            <div class="nav-links">
                <p><a href="{{ url_for('Home') }}" class="button primary"><strong>Home</strong></a></p>
                <p><a href="{{ url_for('userRegistrationForm') }}" class="button primary"><strong>Register</strong></a></p>
            </div>
        </section>
    </center>
</body>

</html>
