<!DOCTYPE html>
<!--Israel Showell-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration Form</title>

    <!-- Link to the custom CSS file -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap" rel="stylesheet" />
</head>

<body>
 <center>
    <!-- Registration Form Header -->
    <h1 class="header-text">User Registration Form</h1>
    <div class="form-container">
        <!-- Error Messages -->
        {% for message in form.Username.errors %}
        <div class="error">{{ message }}</div>
        {% endfor %}
        {% for message in form.phoneNumber.errors %}
        <div class="error">{{ message }}</div>
        {% endfor %}
        {% for message in form.Password.errors %}
        <div class="error">{{ message }}</div>
        {% endfor %}

        <!-- Registration Form -->
        <form action="{{ url_for('userRegistrationForm') }}" method='POST'>
            {{ form.hidden_tag() }}
            <div class="table-section">
                <table>
                    <tr>
                        <td class="form-label">{{ form.Username.label }}</td>
                        <td class="form-input">{{ form.Username }}</td>
                    </tr>
                    <tr>
                        <td class="form-label">{{ form.Password.label }}</td>
                        <td class="form-input">{{ form.Password }}</td>
                    </tr>
                    <tr>
                        <td class="form-label">{{ form.phoneNumber.label }}</td>
                        <td class="form-input">{{ form.phoneNumber }}</td>
                    </tr>
                    <tr>
                        <td class="form-label">{{ form.Gender.label }}</td>
                        <td class="form-input">{{ form.Gender }}</td>
                    </tr>
                    <tr>
                        <td class="form-label">{{ form.Address.label }}</td>
                        <td class="form-input">{{ form.Address }}</td>
                    </tr>
                    <tr>
                        <td class="form-label">{{ form.Age.label }}</td>
                        <td class="form-input">{{ form.Age }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>{{ form.Submit(class="submit-button") }}</td>
                    </tr>
                </table>
            </div>

            <!-- Navigation Links -->
            <div class="nav-links">
                <p><a href="{{ url_for('Home') }}" class="button primary"><strong>Home</strong></a></p>
                <p><a href="{{ url_for('login') }}" class="button primary"><strong>Login</strong></a></p>
            </div>

        </form>
    </div>
</center>

</body>

</html>
